<nav class="navbar navbar-sm bg-darks">

  <div class="container-fluid">
    <!-- Menu -->
    <div class="list-group">
      <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
      <a class="list-group-item" href="#"><i class="fa fa-meetup fa-fw" aria-hidden="true"></i>&nbsp; Marcas</a>
      <a class="list-group-item" href="#"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i>&nbsp; Compras</a>
      <a class="list-group-item" href="#"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; Contacto</a>
    </div>
  </div>

</nav>