<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card text-bg-dark">
        <i class="fa fa-bitbucket fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 1</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, rerum in pariatur possimus neque, provident soluta ullam enim non minima dolor aspernatur labore ex quam quae delectus aliquam quibusdam amet.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <i class="fa fa-stumbleupon-circle fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 2</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo error tempore amet minima deleniti officiis sit, expedita iusto, ex voluptate asperiores itaque similique perspiciatis placeat distinctio consectetur minus quasi odio?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <i class="fa fa-meetup fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 3</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet animi id cupiditate vero modi placeat aliquid vel esse aliquam facilis tenetur at eveniet quibusdam saepe, perspiciatis magni non beatae perferendis?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-light">
        <i class="fa fa-empire fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 4</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni voluptas, quam fugiat ipsum quidem id, eos odit perferendis eius temporibus dolores obcaecati hic accusantium illum tempore. Temporibus, enim. Dignissimos, ducimus!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-light">
        <i class="fa fa-first-order fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 5</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint quae doloribus porro maiores, laudantium quis perferendis magnam praesentium, quasi ducimus! Numquam aperiam, totam voluptatibus libero doloremque assumenda explicabo illum?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-light">
        <i class="fa fa-gg fa-5x" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Producto 6</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo rerum id, adipisci aperiam mollitia nihil sit similique in odit officia cupiditate expedita quis delectus. Nam quia non blanditiis ipsam quo.</p>
        </div>
      </div>
    </div>
    
  </div>
